<html>
  <body>
    Name : <%= character.name %> <br/>
    Height : <%= character.height %> <br/>
    Mass : <%= character.mass %> <br/>
    Hair Color : <%= character.hair_color %> <br/>
    Skin Color : <%= character.skin_color %> <br/>
    Eye Color : <%= character.eye_color %> <br/>
    Birth Year : <%= character.birth_year %> <br/>
    Gender : <%= character.gender %> <br/>
  </body>
</html>
